
:root {
	--color-i5nkbbio3: 243, 239, 21;
	--color-iiqupi49j: 243, 239, 21;
	--color-ixlttpmon: 243, 239, 21;
	--color-iihxa64s0: 243, 239, 21;
	--color-i25ciw7k7: 243, 239, 21;
	--color-i3gd65czy: 243, 239, 21;
	--color-iuswfjwyh: 243, 239, 21;
	--color-ij2t7pwxb: 243, 239, 21;
	--color-iyfxnlvem: 243, 239, 21;
	--color-i93fzj8i7: 243, 239, 21;
	--color-ibb3f98n1: 243, 239, 21;
	--color-i952i74xa: 243, 239, 21;
	--color-iyehd33k4: 243, 239, 21;
	--color-izphuwb2e: 243, 239, 21;
	--color-ijtysbpex: 243, 239, 21;
	--color-ie046xvhd: 243, 239, 21;
	--color-il1hpbs39: 243, 239, 21;
	--color-ikgmf0zb6: 243, 239, 21;
	--color-i6dvsiae1: 243, 239, 21;
	--color-iz5ejah40: 243, 239, 21;
	--color-ic6g9tar2: 0, 150, 65;
	--color-iwfs6qoxm: 0, 150, 65;
	--color-iiq5hqokh: 0, 150, 65;
	--color-iyv6a4l82: 0, 150, 65;
	--color-ilvt7l7ex: 0, 150, 65;
	--color-igdn9lhc7: 0, 150, 65;
	--color-ixebsuhho: 0, 150, 65;
	--color-iluhqq5vt: 0, 150, 65;
	--color-ir7oh0oh0: 0, 150, 65;
	--color-ion01ccah: 0, 150, 65;
	--color-ivne72pp7: 0, 150, 65;
	--color-ifvmtygnp: 0, 150, 65;
	--color-ilcjbfcsu: 0, 150, 65;
	--color-iy2204cok: 0, 150, 65;
	--color-ie31nzeue: 0, 150, 65;
	--color-ipigdtm0a: 0, 150, 65;
	--color-ibwn2rur7: 0, 150, 65;
	--color-ikwa01bg3: 0, 150, 65;
	--color-idx8lsy7r: 0, 150, 65;
	--color-i42xacgxd: 252, 80, 80;
	--color-i1nx5s1uc: 252, 80, 80;
	--color-is3vs6793: 252, 80, 80;
	--color-ixnd2znlv: 252, 80, 80;
	--color-ifyruoc07: 252, 80, 80;
	--color-i8aezeqw2: 252, 80, 80;
	--color-iae1orhxm: 252, 80, 80;
	--color-imhka0gm0: 252, 80, 80;
	--color-iquk9vse7: 252, 80, 80;
	--color-i0oadejgt: 252, 80, 80;
	--color-iu7t4p31o: 252, 80, 80;
	--color-iz27rs5pz: 252, 80, 80;
	--color-ix3puc9xh: 252, 80, 80;
	--color-ivpwf9s33: 252, 80, 80;
	--color-inc44s0oz: 252, 80, 80;
	--color-iiuhdxmtu: 252, 80, 80;
	--color-i2hayk4sr: 252, 80, 80;
	--color-ipke3np4r: 252, 80, 80;
	--color-iwaycy5bq: 252, 80, 80;
	--color-il78vxfnh: 252, 80, 80;
	--color-iv3fdub9v: 252, 80, 80;
	--color-inpe0x84b: 252, 80, 80;
	--color-i5f0ncie4: 243, 121, 56;
	--color-iqryy3nyx: 243, 121, 56;
	--color-id25tbp3w: 243, 121, 56;
	--color-i64v39x9r: 243, 121, 56;
	--color-ikjz36xzi: 146, 199, 22;
	--color-itejxcx24: 146, 199, 22;
	--color-izua1yk7p: 146, 199, 22;
	--color-i8bu9qfsi: 146, 199, 22;
	--color-it9p81dty: 146, 199, 22;
	--color-ivfax31nv: 146, 199, 22;
	--color-ipb8wd58j: 146, 199, 22;
	--color-ih96bcf68: 146, 199, 22;
	--color-i51uu2ym2: 146, 199, 22;
	--color-izp6ig3rg: 146, 199, 22;
	--color-iowzy2j00: 146, 199, 22;
	--color-iz69rbu2v: 146, 199, 22;
	--color-iteqcx2g3: 146, 199, 22;
	--color-ifn9ovfbi: 146, 199, 22;
	--color-ifoxac49g: 146, 199, 22;
	--color-iutn3wrr6: 146, 199, 22;
	--color-is38p8maz: 146, 199, 22;
	--color-i302281o6: 146, 199, 22;
	--color-itj22f97c: 146, 199, 22;
	--color-ifwj4l8e4: 146, 199, 22;
	--color-i34uick9x: 146, 199, 22;
	--color-iim272d4y: 146, 199, 22;
	--color-i0cqxwrkj: 146, 199, 22;
	--color-igh02sd0p: 146, 199, 22;
	--color-i1yfbfsag: 146, 199, 22;
	--color-it0m7hlht: 146, 199, 22;
	--color-iaznhpvub: 146, 199, 22;
	--color-i6p9dsob0: 146, 199, 22;
	--color-iva8jxted: 146, 199, 22;
	--color-iy12zyn3i: 146, 199, 22;
	--color-i3ryw1or8: 146, 199, 22;
	--color-iju66kziz: 146, 199, 22;
	--color-iohjxlo66: 146, 199, 22;
	--color-il8xapmsy: 146, 199, 22;
	--color-ik0lawg9h: 146, 199, 22;
	--color-ixg9zz8c0: 146, 199, 22;
	--color-ioizbh1vs: 146, 199, 22;
	--color-ixy7yx986: 146, 199, 22;
	--color-ixuzjuzfv: 146, 199, 22;
	--color-ip402lria: 146, 199, 22;
	--color-inxbfslbk: 146, 199, 22;
	--color-i4wb0cuh3: 146, 199, 22;
	--color-ips7kpsah: 146, 199, 22;
	--color-i5uhaaeu2: 146, 199, 22;
	--color-io8rtk6j1: 146, 199, 22;
	--color-iz780evtq: 146, 199, 22;
	--color-iuwkw1vl4: 146, 199, 22;
	--color-i26uqabno: 146, 199, 22;
	--color-itbhyok9t: 146, 199, 22;
	--color-icemhte4p: 146, 199, 22;
	--color-icz3vmks2: 146, 199, 22;
	--color-ir07ochfw: 146, 199, 22;
	--color-i3nigil1t: 146, 199, 22;
	--color-i8ci94sjo: 52, 52, 52;
	--color-irvtcpv19: 52, 52, 52;
	--color-ivxmgw0lb: 52, 52, 52;
	--color-idpvyt4so: 52, 52, 52;
	--color-izet4wgux: 52, 52, 52;
	--color-ib1ig7whj: 52, 52, 52;
	--color-i3pgw9745: 117, 117, 117;
	--color-inrqmny9a: 117, 117, 117;
	--color-if2boqmhr: 117, 117, 117;
	--color-i8rqvp79w: 117, 117, 117;
	--color-igcnbjwb4: 117, 117, 117;
	--color-ikqobmq05: 117, 117, 117;
	--color-ikjnjchw0: 117, 117, 117;
	--color-igsi9x219: 117, 117, 117;
	--color-ia6zc0vm0: 117, 117, 117;
	--color-i5pwj2rf1: 117, 117, 117;
	--color-if784qjtn: 117, 117, 117;
	--color-i9xt8qge2: 117, 117, 117;
	--color-iiu8jz3p9: 38, 30, 22;
	--color-ip2c6vo0q: 38, 30, 22;
}
