@font-face { font-family: "Montserrat Alternates"; font-weight: 100; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-t.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-t.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 100; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-t-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-t-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 200; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-e-l.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-e-l.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 200; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-e-l-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-e-l-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 300; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-l.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-l.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 300; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-l-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-l-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 400; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-r.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-r.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 400; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 500; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-m.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-m.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 500; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-m-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-m-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 600; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-s-b.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-s-b.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 600; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-s-b-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-s-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 700; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-b.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-b.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 700; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-b-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 800; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-e-b.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-e-b.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 800; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-e-b-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-e-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 900; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-bl.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-bl.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 900; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-bl-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-bl-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 100; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-t.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-t.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 100; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-t-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-t-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 200; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-e-l.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-e-l.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 200; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-e-l-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-e-l-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 300; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-l.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-l.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 300; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-l-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-l-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 400; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-r.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-r.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 400; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 500; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-m.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-m.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 500; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-m-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-m-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 600; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-s-b.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-s-b.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 600; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-s-b-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-s-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 700; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-b.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-b.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 700; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-b-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 800; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-e-b.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-e-b.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 800; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-e-b-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-e-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 900; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-bl.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-bl.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 900; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-bl-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-bl-i.woff") format("woff");}
:root {
	--color-ix0jyn3sa: 238, 238, 238;
	--color-ixebsuhho: 0, 150, 65;
	--color-iuswfjwyh: 243, 239, 21;
	--color-i6dmtzs8f: 0, 0, 0;
	--color-iad8c8iz0: 255, 255, 255;
	--color-ikkqzevc0: 0, 0, 0;
	--color-ip9lqob8m: 238, 238, 238;
	--color-iluhqq5vt: 0, 150, 65;
	--color-ij2t7pwxb: 243, 239, 21;
	--color-i8yc0l68l: 0, 0, 0;
	--color-iuprmmtz4: 50, 50, 50;
	--color-inc44s0oz: 252, 80, 80;
	--color-ixuu0bd3c: 43, 43, 43;
	--color-itdxchqng: 43, 43, 43;
	--color-i7bp10u10: 43, 43, 43;
	--color-iiuhdxmtu: 252, 80, 80;
	--color-iitdp4i0t: 0, 0, 0;
	--color-ishmsfclf: 209, 205, 205;
	--color-iriug99x4: 0, 0, 0;
	--color-i0qv42t1c: 255, 255, 255;
	--color-iezbr30a7: 0, 0, 0;
	--color-iumsuzj0z: 43, 43, 43;
	--color-is5vjp5o0: 209, 205, 205;
	--color-ips7kpsah: 146, 199, 22;
	--color-i381xdmiv: 0, 0, 0;
	--color-iy2f4jkux: 43, 43, 43;
	--color-i5uhaaeu2: 146, 199, 22;
	--color-i2hayk4sr: 252, 80, 80;
	--color-igccv06dw: 0, 0, 0;
	--color-ir7oh0oh0: 0, 150, 65;
	--color-iyfxnlvem: 243, 239, 21;
	--color-iiyw6gltk: 0, 0, 0;
	--color-ion01ccah: 0, 150, 65;
	--color-i93fzj8i7: 243, 239, 21;
	--color-ie046xvhd: 243, 239, 21;
	--color-ie31nzeue: 0, 150, 65;
}

.side-panel--u-ipeiyhklq { position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 10; pointer-events: none; display: block; transition-property: all; transition-duration: 500ms; transition-delay: 0ms; transition-timing-function: ease }
.side-panel__button-open--u-ijtxy8fhj { width: 60px; min-height: 29px; background-color: rgba(var(--color-ix0jyn3sa), 1); cursor: pointer; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; flex-shrink: 0; margin-left: auto; pointer-events: auto; height: 60px; margin-top: 40px; margin-right: 40px; border-top-left-radius: 60px; border-top-right-radius: 60px; border-bottom-right-radius: 60px; border-bottom-left-radius: 60px; background-image: url("/d/telw_0.png"), url("/d/p_0.svg"), linear-gradient(225deg, rgba(var(--color-ixebsuhho), 1) 0%, rgba(var(--color-iuswfjwyh), 1) 100%); background-repeat: no-repeat, no-repeat, no-repeat; background-position: right -12px top -10px, center center, left 0px top 0px; background-size: 51px auto, auto, auto; background-attachment: scroll, scroll, scroll; -webkit-box-shadow: 5px 5px 0px 0px rgba(var(--color-i6dmtzs8f), 0.1); box-shadow: 5px 5px 0px 0px rgba(var(--color-i6dmtzs8f), 0.1) }
.side-panel__button-open--u-ijtxy8fhj:hover, .side-panel__button-open--u-ijtxy8fhj.is-hover { -webkit-box-shadow: 5px 5px 0px 0px rgba(var(--color-igccv06dw), 0); box-shadow: 5px 5px 0px 0px rgba(var(--color-igccv06dw), 0); background-image: url("http://mos-4638739.oml.ru/d/telw_0.png"), url("http://mos-4638739.oml.ru/d/p_0.svg"), linear-gradient(225deg, rgba(var(--color-ir7oh0oh0), 0.9) 0%, rgba(var(--color-iyfxnlvem), 0.9) 100%) }
.side-panel__button-open--u-ijtxy8fhj:active, .side-panel__button-open--u-ijtxy8fhj.is-active { -webkit-box-shadow: 5px 5px 0px 0px rgba(var(--color-iiyw6gltk), 0.02); box-shadow: 5px 5px 0px 0px rgba(var(--color-iiyw6gltk), 0.02) }
.side-panel__content--u-ixnysi4t6 { display: none; position: fixed; top: 0px; bottom: 0px; right: 0px; width: 300px; background-color: rgba(var(--color-iad8c8iz0), 1); -webkit-box-shadow: 0px 0px 15px 0px rgba(var(--color-ikkqzevc0), 0.5); box-shadow: 0px 0px 15px 0px rgba(var(--color-ikkqzevc0), 0.5); -webkit-transform: none; -ms-transform: none; transform: none; pointer-events: auto; transition-property: all; transition-duration: 300ms; transition-delay: 0ms; transition-timing-function: ease }
.side-panel__button-close--u-if0i8jiir { position: absolute; z-index: 1; right: 100%; top: 0px; font-size: 0px; width: 44px; min-height: 29px; background-color: rgba(var(--color-ip9lqob8m), 0); cursor: pointer; margin-left: auto; margin-right: -280px; height: 44px; margin-top: 10px; background-image: url("/d/x.svg"), linear-gradient(239deg, rgba(var(--color-iluhqq5vt), 1) 0%, rgba(var(--color-ij2t7pwxb), 1) 100%); background-repeat: no-repeat, no-repeat; background-position: center center, left 0px top 0px; background-size: 17px auto, auto; background-attachment: scroll, scroll; border-top-left-radius: 60px; border-top-right-radius: 60px; border-bottom-right-radius: 60px; border-bottom-left-radius: 60px }
.side-panel__content-inner--u-izmoomru4 { overflow-y: auto; max-height: 100%; min-height: 100%; position: relative; z-index: 0; padding-top: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-left: 0px; margin-right: 0px; width: 100%; ; ; ;  }
.side-panel__mask--u-itnyzgva1 { display: none; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; background-color: rgba(var(--color-i8yc0l68l), 0.5); -webkit-transform: none; -ms-transform: none; transform: none; pointer-events: auto }
.div--u-id236aix0 { width: 100%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: flex-start; padding-left: 30px; padding-right: 30px }
.div--u-iemlwh26d { width: 40px; position: relative; height: 40px; padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; flex-shrink: 0 }
.svg_image--u-id3nro85b { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; width: 100%; overflow-x: hidden; overflow-y: hidden }
.svg_image--u-id3nro85b > svg { flex-shrink: 0 }
.svg_image--u-id3nro85b svg { width: 100%; height: 100% }
.svg_image--u-id3nro85b .path-ihocgffr5 { fill: rgba(var(--color-inc44s0oz), 1) }
.list__item--u-i3iii00tz { padding-top: 2px; padding-right: 0px; padding-bottom: 2px; padding-left: 10px; font-family: Montserrat Alternates, sans-serif }
.list--u-i487wjc26 { display: inline-block }
.link-universal--u-ixf3k4vg3 { display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; text-decoration-line: none; color: rgba(var(--color-iuprmmtz4), 1) }
.text--u-ipdzfujl2 { font-size: 17px; font-weight: 400; color: rgba(var(--color-ixuu0bd3c), 1); padding-top: 2px; padding-bottom: 2px }
.div--u-ics0wk76t { width: 100%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: flex-start; padding-left: 30px; padding-right: 30px; margin-top: 20px }
.div--u-ib2ugpvds { width: 40px; position: relative; height: 40px; padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; flex-shrink: 0 }
.svg_image--u-ipj9vyc8f { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; width: 100%; overflow-x: hidden; overflow-y: hidden }
.svg_image--u-ipj9vyc8f > svg { flex-shrink: 0 }
.svg_image--u-ipj9vyc8f svg { width: 100%; height: 100% }
.svg_image--u-ipj9vyc8f .path-iczij6qs3 { fill: rgba(var(--color-i2hayk4sr), 1) }
.list__item--u-icyyhkpok { padding-top: 2px; padding-right: 0px; padding-bottom: 2px; padding-left: 10px; font-family: Montserrat Alternates, sans-serif }
.list--u-iwbr73055 { display: inline-block }
.text--u-ijiwv2qk8 { font-size: 14px; font-weight: 400; color: rgba(var(--color-itdxchqng), 1); padding-top: 2px; padding-bottom: 2px; display: block }
.div--u-iq9crfcjs { width: 100%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: flex-start; padding-left: 30px; padding-right: 30px; margin-top: 20px }
.div--u-ipy7jg8j4 { width: 40px; position: relative; height: 40px; padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; flex-shrink: 0 }
.svg_image--u-i42q3gll4 { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; width: 100%; overflow-x: hidden; overflow-y: hidden }
.svg_image--u-i42q3gll4 > svg { flex-shrink: 0 }
.svg_image--u-i42q3gll4 svg { width: 100%; height: 100% }
.svg_image--u-i42q3gll4 .path-inwrohp47 { fill: rgba(var(--color-iiuhdxmtu), 1) }
.list__item--u-i9lu8xp35 { padding-top: 2px; padding-right: 0px; padding-bottom: 2px; padding-left: 10px; font-family: Montserrat Alternates, sans-serif }
.list--u-ic5jj8fqh { display: inline-block }
.text--u-iwfkvfl7d { font-size: 14px; font-weight: 400; color: rgba(var(--color-i7bp10u10), 1); padding-top: 2px; padding-bottom: 2px; display: block }
.ver-menu--u-ijd2cdki0 { position: relative; width: auto; display: none; margin-top: 20px; margin-left: 30px; margin-right: 30px }
.ver-menu--u-ijd2cdki0 .ver-menu__list { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; list-style-type: none }
.ver-menu--u-ijd2cdki0 .ver-menu__link, .ver-menu--u-ijd2cdki0 .ver-menu__sub_link { display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: space-between; cursor: pointer; text-decoration-line: none; padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px; color: rgba(var(--color-iitdp4i0t), 1); font-family: Arial, Helvetica, sans-serif; font-size: 14px }
.ver-menu--u-ijd2cdki0 .ver-menu__icon { background-color: rgba(var(--color-ishmsfclf), 0); width: 15px; height: 15px; margin-left: 10px; background-image: url("/d/arrdawn.svg"); background-repeat: no-repeat; background-position: center center; background-size: auto; background-attachment: scroll; display: block }
.ver-menu--u-ijd2cdki0 .ver-menu__sub_icon { background-color: rgba(var(--color-iriug99x4), 1); width: 10px; height: 10px; margin-left: 10px; display: block }
.ver-menu--u-ijd2cdki0 .ver-menu__sub_list { z-index: 10; list-style-type: none; background-color: rgba(var(--color-i0qv42t1c), 0); padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; position: static; left: 100%; top: 0; display: none }
.ver-menu--u-ijd2cdki0 .ver-menu__sub_item { vertical-align: top }
.ver-menu--u-ijd2cdki0 .ver-menu__sub_link { cursor: pointer; text-decoration-line: none; padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px; color: rgba(var(--color-iezbr30a7), 1); font-size: 14px }
.ver-menu--u-ijd2cdki0 .ver-menu__link { font-family: Montserrat, sans-serif; font-size: 15px; font-weight: 600; padding-top: 15px; padding-bottom: 15px }
.ver-menu--u-ijd2cdki0 .ver-menu__link:hover, .ver-menu--u-ijd2cdki0 .ver-menu__link.is-hover { color: rgba(var(--color-iumsuzj0z), 1) }
.ver-menu--u-ijd2cdki0 .ver-menu__item > .ver-menu__sub_list { position: static }
.ver-menu--u-ijd2cdki0 .ver-menu__sub_list > .ver-menu__sub_item { font-family: Montserrat Alternates, sans-serif }
.ver-menu--u-ijd2cdki0 .ver-menu__link:hover .ver-menu__icon, .ver-menu--u-ijd2cdki0 .ver-menu__link.is-hover .ver-menu__icon { background-image: none; background-repeat: ; background-position: ; background-size: ; background-attachment: ; background-color: rgba(var(--color-is5vjp5o0), 0) }
.ver-menu--u-ijd2cdki0 .ver-menu__item:hover .ver-menu__icon, .ver-menu--u-ijd2cdki0 .ver-menu__item.is-hover .ver-menu__icon { background-image: url("/d/arrupp.svg"); background-repeat: no-repeat; background-position: center center; background-size: auto; background-attachment: scroll }
.ver-menu--u-ijd2cdki0 .ver-menu__item:hover .ver-menu__link, .ver-menu--u-ijd2cdki0 .ver-menu__item.is-hover .ver-menu__link { color: rgba(var(--color-ips7kpsah), 1) }
.ver-menu--u-ijd2cdki0 .ver-menu__sub_list > .ver-menu__sub_item > .ver-menu__sub_link { font-family: Montserrat Alternates, sans-serif; font-size: 13px; color: rgba(var(--color-iy2f4jkux), 1) }
.ver-menu--u-ijd2cdki0 .ver-menu__sub_list > .ver-menu__sub_item > .ver-menu__sub_link:hover, .ver-menu--u-ijd2cdki0 .ver-menu__sub_list > .ver-menu__sub_item > .ver-menu__sub_link.is-hover { color: rgba(var(--color-i5uhaaeu2), 1) }
.ver-menu--u-ijd2cdki0 .ver-menu__sub_list > .ver-menu__sub_item > .ver-menu__sub_link > .ver-menu__sub_icon { background-image: url("/d/arrdawn.svg"); background-repeat: no-repeat; background-position: center center; background-size: auto; background-attachment: scroll; background-color: rgba(var(--color-i381xdmiv), 0) }
.ver-menu--u-ijd2cdki0 .ver-menu__sub_list > .ver-menu__sub_item:hover > .ver-menu__sub_link > .ver-menu__sub_icon, .ver-menu--u-ijd2cdki0 .ver-menu__sub_list > .ver-menu__sub_item.is-hover > .ver-menu__sub_link > .ver-menu__sub_icon { background-image: url("/d/arrupp.svg"); background-repeat: no-repeat; background-position: center center; background-size: auto; background-attachment: scroll }
.ver-menu--u-ijd2cdki0 .ver-menu__sub_list .ver-menu__sub_list .ver-menu__sub_list .ver-menu__sub_list .ver-menu__sub_list .ver-menu__sub_list .ver-menu__sub_list { display: none }

@media (max-width: 991px) {
	.side-panel--u-ipeiyhklq { display: block }
	.div--u-id236aix0 { margin-left: 0px; margin-right: 0px; width: 100%; justify-content: flex-start; padding-left: 20px; padding-right: 20px }
	.div--u-ics0wk76t { margin-left: 0px; margin-right: 0px; width: 100%; justify-content: flex-start; padding-left: 20px; padding-right: 20px }
	.div--u-iq9crfcjs { margin-left: 0px; margin-right: 0px; width: 100%; justify-content: flex-start; padding-left: 20px; padding-right: 20px }
	.side-panel__button-open--u-ijtxy8fhj { background-image: url("/d/burgw5.svg"), none, none, linear-gradient(225deg, rgba(var(--color-ion01ccah), 1) 0%, rgba(var(--color-i93fzj8i7), 1) 100%); background-repeat: no-repeat, no-repeat, no-repeat, no-repeat; background-position: center center, right -12px top -10px, center center, left 0px top 0px; background-size: auto, 51px, auto, auto; background-attachment: scroll, scroll, scroll, scroll; width: 50px; height: 50px; margin-top: 30px; margin-right: 30px }
	.side-panel__button-open--u-ijtxy8fhj:hover, .side-panel__button-open--u-ijtxy8fhj.is-hover { background-image: url("/d/burgw5.svg"), none, none, linear-gradient(50deg, rgba(var(--color-ie046xvhd), 1) 0%, rgba(var(--color-ie31nzeue), 1) 100%); background-repeat: no-repeat, no-repeat, no-repeat, no-repeat; background-position: center center, center center, right -12px top -10px, center center; background-size: auto, auto, 51px, auto; background-attachment: scroll, scroll, scroll, scroll }
	.ver-menu--u-ijd2cdki0 { display: block; margin-left: 20px; margin-right: 20px }
	.side-panel__content-inner--u-izmoomru4 { padding-top: 40px }
	.side-panel__button-close--u-if0i8jiir { margin-right: -290px }
}

@media (max-width: 767px) {
	.side-panel--u-ipeiyhklq { display: block }
	.side-panel__button-open--u-ijtxy8fhj { margin-top: 20px; margin-right: 20px }
	.side-panel__button-close--u-if0i8jiir { margin-right: -290px }
}

@media (max-width: 479px) {
	.side-panel--u-ipeiyhklq { display: block }
	.list--u-i487wjc26 { text-align: left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; justify-content: center }
	.text--u-ipdzfujl2 { display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: flex-start }
	.list__item--u-i3iii00tz { display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: flex-start; text-align: left }
	.div--u-id236aix0 { justify-content: flex-start }
	.list--u-iwbr73055 { text-align: left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; justify-content: center }
	.list__item--u-icyyhkpok { display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: flex-start; text-align: left }
	.div--u-ics0wk76t { justify-content: flex-start }
	.text--u-ijiwv2qk8 { display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: flex-start }
	.list--u-ic5jj8fqh { text-align: left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; justify-content: center }
	.list__item--u-i9lu8xp35 { display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: flex-start; text-align: left }
	.div--u-iq9crfcjs { justify-content: flex-start }
	.text--u-iwfkvfl7d { display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: flex-start }
	.side-panel__button-close--u-if0i8jiir { margin-right: -280px; margin-left: auto }
}