@font-face { font-family: "Montserrat Alternates"; font-weight: 100; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-t.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-t.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 100; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-t-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-t-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 200; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-e-l.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-e-l.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 200; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-e-l-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-e-l-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 300; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-l.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-l.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 300; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-l-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-l-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 400; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-r.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-r.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 400; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 500; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-m.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-m.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 500; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-m-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-m-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 600; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-s-b.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-s-b.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 600; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-s-b-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-s-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 700; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-b.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-b.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 700; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-b-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 800; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-e-b.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-e-b.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 800; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-e-b-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-e-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 900; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-bl.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-bl.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 900; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-bl-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-bl-i.woff") format("woff");}
:root {
	--color-i8rqvp79w: 117, 117, 117;
	--color-itgscx3t3: 151, 151, 151;
	--color-i3ggvbywe: 255, 255, 255;
	--color-iu8frtoi7: 50, 50, 50;
	--color-ipke3np4r: 252, 80, 80;
	--color-izc49m0s4: 43, 43, 43;
	--color-iq68ywius: 43, 43, 43;
	--color-ija6v9w8f: 155, 155, 155;
	--color-ior2x0qys: 155, 155, 155;
	--color-ity0w5yb2: 155, 155, 155;
	--color-ir73cap37: 155, 155, 155;
	--color-iwd37mu6a: 50, 50, 50;
	--color-iuqu2ovnh: 50, 50, 50;
	--color-iy3wommxh: 50, 50, 50;
	--color-ijmqarxov: 50, 50, 50;
	--color-iazqfhyrl: 50, 50, 50;
	--color-iwaycy5bq: 252, 80, 80;
}

.section--u-im3l7lgb6 { display: block; width: 100%; position: relative; padding-bottom: 0px; background-image: linear-gradient(rgba(var(--color-i8rqvp79w), 0.1) 0%, rgba(var(--color-i8rqvp79w), 0.1) 100%); background-repeat: no-repeat; background-position: left 0px top 0px; background-size: auto; background-attachment: scroll }
.mosaic-map--u-itpqr4b0b { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 400px; background-color: rgba(var(--color-itgscx3t3), 1); justify-content: center; background-image: url("/g/s3/mosaic/images/yandex-map.png"); background-position: center center; position: relative; margin-left: 0px; margin-right: 0px; padding-bottom: 0px }
.div--u-i1p05f8r2 { width: auto; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: 6.22%; margin-right: 6.22%; padding-left: 40px; padding-right: 40px; padding-top: 30px; padding-bottom: 30px;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: -50px; background-color: rgba(var(--color-i3ggvbywe), 1) }
.div--u-i5qy0hnsy { width: 30%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center }
.div--u-isgtcvzal { width: 100%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: flex-start }
.div--u-i21fmbpgi { width: 40px; position: relative; height: 40px; padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; flex-shrink: 0 }
.svg_image--u-iyv8buiaq { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; width: 100%; overflow-x: hidden; overflow-y: hidden }
.svg_image--u-iyv8buiaq > svg { flex-shrink: 0 }
.svg_image--u-iyv8buiaq svg { width: 100%; height: 100% }
.svg_image--u-iyv8buiaq .path-ihocgffr5 { fill: rgba(var(--color-ipke3np4r), 1) }
.list__item--u-ilb18q92u { padding-top: 2px; padding-right: 0px; padding-bottom: 2px; padding-left: 10px; font-family: Montserrat Alternates, sans-serif }
.list--u-isfk36b82 { display: inline-block }
.link-universal--u-i76tmldtu { display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; text-decoration-line: none; color: rgba(var(--color-iu8frtoi7), 1) }
.text--u-ijk21rzby { font-size: 13px; font-weight: 700; color: rgba(var(--color-izc49m0s4), 1); padding-top: 2px; padding-bottom: 2px }
.div--u-ijs37m1rk { width: 40%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center }
.div--u-iaxbuj5nk { width: 100%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: flex-start }
.div--u-i8vzwjl98 { width: 40px; position: relative; height: 40px; padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; flex-shrink: 0 }
.svg_image--u-iyuxzc7zt { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; width: 100%; overflow-x: hidden; overflow-y: hidden }
.svg_image--u-iyuxzc7zt > svg { flex-shrink: 0 }
.svg_image--u-iyuxzc7zt svg { width: 100%; height: 100% }
.svg_image--u-iyuxzc7zt .path-ihxe87kmi { fill: rgba(var(--color-iwaycy5bq), 1) }
.list__item--u-ix2anwobd { padding-top: 2px; padding-right: 0px; padding-bottom: 2px; padding-left: 10px }
.list--u-i1fako6ld { display: inline-block }
.text--u-i6c9splb0 { font-size: 12px; font-weight: 400; color: rgba(var(--color-iq68ywius), 1); display: block; font-family: Montserrat Alternates, sans-serif }
.div--u-i5ojahh30 { width: 30%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: center }
.list__item--u-in0spijeo { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-left: 5px; margin-right: 5px }
.link-universal--u-iofdjnj7p { display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; text-decoration-line: none; width: 40px; height: 40px }
.svg_image--u-i9913gn9q { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; width: 100%; overflow-x: hidden; overflow-y: hidden; border-top-color: rgba(var(--color-ija6v9w8f), 1); border-right-color: rgba(var(--color-ior2x0qys), 1); border-bottom-color: rgba(var(--color-ity0w5yb2), 1); border-left-color: rgba(var(--color-ir73cap37), 1) }
.svg_image--u-i9913gn9q > svg { flex-shrink: 0 }
.svg_image--u-i9913gn9q svg { width: 100%; height: 100% }
.svg_image--u-i9913gn9q .path-i70b281ip { fill: rgba(var(--color-iwd37mu6a), 1) }
.svg_image--u-i9913gn9q .path-ij36odnsn { fill: rgba(var(--color-iuqu2ovnh), 1) }
.svg_image--u-i9913gn9q .path-ifz427qfi { fill: rgba(var(--color-iy3wommxh), 1) }
.svg_image--u-i9913gn9q .path-i31kchp8p { fill: rgba(var(--color-ijmqarxov), 1) }
.svg_image--u-i9913gn9q .path-i1sbsf3t9 { fill: rgba(var(--color-iazqfhyrl), 1) }
.list--u-iq37gkcwt { display: -webkit-box; display: -ms-flexbox; display: flex }

@media (max-width: 991px) {
	.div--u-i5qy0hnsy { padding-right: 0px; margin-left: 0px; margin-right: 0px; width: 100%; justify-content: center; padding-top: 10px; padding-bottom: 10px }
	.div--u-isgtcvzal { margin-left: 0px; margin-right: 0px; width: 100%; justify-content: flex-start }
	.div--u-ijs37m1rk { padding-right: 0px; margin-left: 0px; margin-right: 0px; width: 100%; justify-content: center; padding-top: 10px; padding-bottom: 10px }
	.div--u-iaxbuj5nk { margin-left: 0px; margin-right: 0px; width: 100%; justify-content: center }
	.mosaic-map--u-itpqr4b0b { display: none }
	.div--u-i1p05f8r2 { margin-left: 0px; margin-right: 0px; margin-top: 0px; padding-top: 20px }
}

@media (max-width: 767px) {
	.div--u-i1p05f8r2 { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; margin-top: 0px }
	.div--u-isgtcvzal { justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column }
	.list--u-iq37gkcwt { justify-content: center }
	.div--u-i5ojahh30 { width: auto }
	.div--u-iaxbuj5nk { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column }
}

@media (max-width: 479px) {
	.list--u-isfk36b82 { text-align: left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; justify-content: center }
	.text--u-ijk21rzby { display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: flex-start }
	.list__item--u-ilb18q92u { display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: flex-start; text-align: left }
	.div--u-isgtcvzal { justify-content: center }
	.list--u-i1fako6ld { text-align: left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; justify-content: center }
	.list__item--u-ix2anwobd { display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: flex-start; text-align: left }
	.div--u-iaxbuj5nk { justify-content: center }
	.text--u-i6c9splb0 { display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: flex-start }
}