@font-face { font-family: "Montserrat Alternates"; font-weight: 100; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-t.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-t.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 100; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-t-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-t-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 200; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-e-l.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-e-l.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 200; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-e-l-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-e-l-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 300; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-l.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-l.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 300; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-l-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-l-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 400; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-r.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-r.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 400; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 500; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-m.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-m.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 500; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-m-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-m-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 600; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-s-b.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-s-b.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 600; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-s-b-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-s-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 700; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-b.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-b.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 700; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-b-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 800; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-e-b.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-e-b.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 800; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-e-b-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-e-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 900; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-bl.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-bl.woff") format("woff");}
@font-face { font-family: "Montserrat Alternates"; font-weight: 900; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat_alternates/montserrat_alternates-bl-i.woff2") format("woff2"), url("/g/fonts/montserrat_alternates/montserrat_alternates-bl-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 100; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-t.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-t.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 100; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-t-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-t-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 200; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-e-l.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-e-l.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 200; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-e-l-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-e-l-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 300; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-l.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-l.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 300; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-l-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-l-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 400; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-r.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-r.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 400; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 500; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-m.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-m.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 500; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-m-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-m-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 600; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-s-b.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-s-b.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 600; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-s-b-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-s-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 700; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-b.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-b.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 700; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-b-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 800; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-e-b.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-e-b.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 800; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-e-b-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-e-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 900; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-bl.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-bl.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 900; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-bl-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-bl-i.woff") format("woff");}
:root {
	--color-i06q7dtaz: 255, 255, 255;
	--color-ir3vlyb1s: 43, 43, 43;
	--color-ifijqdscp: 255, 255, 255;
	--color-iakbli98r: 254, 254, 254;
	--color-i9rkrzgz4: 0, 0, 0;
	--color-iq4nfcnpy: 43, 43, 43;
	--color-ifyoseq8v: 187, 187, 187;
	--color-imzgb71a4: 187, 187, 187;
	--color-iop7j2vxq: 187, 187, 187;
	--color-iilytezyr: 187, 187, 187;
	--color-itzxoyzne: 255, 255, 255;
	--color-i7nycg86a: 43, 43, 43;
	--color-igfovly7u: 169, 169, 169;
	--color-i13z2a9x1: 169, 169, 169;
	--color-i3kuofhd9: 169, 169, 169;
	--color-i43ckscnd: 169, 169, 169;
	--color-izw309rx6: 255, 255, 255;
	--color-icc1tmfrr: 43, 43, 43;
	--color-i7h17rzmq: 169, 169, 169;
	--color-itlg6qi48: 169, 169, 169;
	--color-isgnwm65y: 169, 169, 169;
	--color-ink61xvrf: 169, 169, 169;
	--color-ig5a83qi7: 255, 255, 255;
	--color-it0h5rfz1: 43, 43, 43;
	--color-i76r9cf2m: 169, 169, 169;
	--color-iwbp6mqxb: 169, 169, 169;
	--color-izwl5n7eo: 169, 169, 169;
	--color-i5wlhsryr: 169, 169, 169;
	--color-ij33sfab7: 255, 255, 255;
	--color-i9jpc6qs3: 43, 43, 43;
	--color-igcx069f9: 169, 169, 169;
	--color-is999cppr: 169, 169, 169;
	--color-ip9gjsm32: 169, 169, 169;
	--color-i5njadnf1: 169, 169, 169;
	--color-ifthx19qz: 248, 248, 248;
	--color-i3b3sk8ex: 169, 169, 169;
	--color-i7mrxiey6: 169, 169, 169;
	--color-ixfcmbxig: 169, 169, 169;
	--color-is9p10bey: 169, 169, 169;
	--color-iso8j1bx1: 248, 248, 248;
	--color-itzewdmks: 51, 51, 51;
	--color-ik6f3xwzm: 255, 0, 0;
	--color-i0pmsjjye: 255, 0, 0;
	--color-idza1n0jp: 128, 128, 128;
	--color-iadq9bta0: 128, 128, 128;
	--color-ishgo4g86: 128, 128, 128;
	--color-ibbjd9wxt: 128, 128, 128;
	--color-ik2jrzjaw: 128, 128, 128;
	--color-i5r9mymmt: 0, 0, 0;
	--color-izpqfv6ls: 0, 0, 0;
	--color-irw9szl5h: 128, 128, 128;
	--color-i383lcax0: 128, 128, 128;
	--color-ibyyind96: 128, 128, 128;
	--color-ilnyinp0r: 128, 128, 128;
	--color-ijom598m8: 0, 0, 0;
	--color-irye3n0nm: 0, 0, 0;
	--color-icunfhjjn: 95, 95, 95;
	--color-iae6l4b44: 255, 255, 255;
	--color-ivne72pp7: 0, 150, 65;
	--color-ibb3f98n1: 243, 239, 21;
	--color-i952i74xa: 243, 239, 21;
	--color-i26uqabno: 146, 199, 22;
	--color-idojqeq2f: 255, 255, 255;
	--color-i0p5junn4: 197, 197, 197;
	--color-ip8blos2m: 197, 197, 197;
	--color-iqmwko0f0: 197, 197, 197;
	--color-ivhlodrn7: 197, 197, 197;
	--color-iv2bofo4y: 197, 197, 197;
	--color-i5n3lb688: 255, 0, 0;
	--color-i4puowz9z: 85, 85, 85;
	--color-ipdpbbflo: 0, 0, 255;
	--color-ivfquyov7: 0, 0, 255;
	--color-ikqobmq05: 117, 117, 117;
	--color-ikjnjchw0: 117, 117, 117;
	--color-igsi9x219: 117, 117, 117;
	--color-i1ryvvywk: 43, 43, 43;
	--color-ibyx1pz9l: 43, 43, 43;
	--color-ivnz2oddb: 43, 43, 43;
	--color-ia6zc0vm0: 117, 117, 117;
	--color-i5pwj2rf1: 117, 117, 117;
	--color-i4tno3bdb: 43, 43, 43;
	--color-iub5m5a22: 229, 229, 229;
	--color-itbhyok9t: 146, 199, 22;
	--color-iaflywfmq: 255, 255, 255;
	--color-ifvmtygnp: 0, 150, 65;
	--color-iyehd33k4: 243, 239, 21;
	--color-icemhte4p: 146, 199, 22;
}

.div--u-i576t3ipl { width: 800px; position: relative; padding-left: 70px; padding-top: 70px; padding-right: 70px; padding-bottom: 70px; background-color: rgba(var(--color-i06q7dtaz), 0); display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column }
.mosaic-form--u-igfe8wcj7 { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: auto; min-height: 300px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; z-index: 1; margin-top: 38px }
.mosaic-form--u-igfe8wcj7 * { outline-style: none }
.mosaic-form--u-igfe8wcj7 .mosaic-form__title--u-ist31rnl6 { font-size: 40px; line-height: normal; margin-bottom: 20px; color: rgba(var(--color-ir3vlyb1s), 1); font-weight: 700; text-align: center; font-family: Montserrat Alternates, sans-serif }
.mosaic-form--u-igfe8wcj7 .mosaic-form__header { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 5px; color: rgba(var(--color-ifijqdscp), 1); margin-left: 0px; margin-right: 0px; width: 100% }
.mosaic-form--u-igfe8wcj7 .mosaic-form__field { margin-bottom: 10px; font-size: 14px; border-bottom-style: solid; border-bottom-width: 0px; border-bottom-color: rgba(var(--color-iakbli98r), 0.35); background-color: rgba(var(--color-i9rkrzgz4), 0); margin-top: 0px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: center; text-align: left; margin-left: 0px }
.mosaic-form--u-igfe8wcj7 .mosaic-form__name { font-weight: 600; font-size: 15px; color: rgba(var(--color-iq4nfcnpy), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__text { width: 100%; display: block; height: 50px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-ifyoseq8v), 1); border-right-color: rgba(var(--color-imzgb71a4), 1); border-bottom-color: rgba(var(--color-iop7j2vxq), 1); border-left-color: rgba(var(--color-iilytezyr), 1); padding-bottom: 15px; padding-top: 15px; padding-left: 20px; padding-right: 20px; background-color: rgba(var(--color-itzxoyzne), 0); color: rgba(var(--color-i7nycg86a), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__date { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; height: 35px; width: 100%; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-igfovly7u), 1); border-right-color: rgba(var(--color-i13z2a9x1), 1); border-bottom-color: rgba(var(--color-i3kuofhd9), 0.35); border-left-color: rgba(var(--color-i43ckscnd), 1); padding-bottom: 8px; padding-top: 8px; padding-left: 10px; padding-right: 10px; background-color: rgba(var(--color-izw309rx6), 0); cursor: pointer; color: rgba(var(--color-icc1tmfrr), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__date-interval { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; height: 35px; width: 100%; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: solid; border-left-style: none; border-top-color: rgba(var(--color-i7h17rzmq), 0.35); border-right-color: rgba(var(--color-itlg6qi48), 0.35); border-bottom-color: rgba(var(--color-isgnwm65y), 0.35); border-left-color: rgba(var(--color-ink61xvrf), 0.35); padding-bottom: 8px; padding-top: 8px; padding-left: 10px; padding-right: 10px; background-color: rgba(var(--color-ig5a83qi7), 0); cursor: pointer; color: rgba(var(--color-it0h5rfz1), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__textarea { width: 100%; display: block; height: 70px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: none; border-right-style: none; border-bottom-style: solid; border-left-style: none; border-top-color: rgba(var(--color-i76r9cf2m), 1); border-right-color: rgba(var(--color-iwbp6mqxb), 1); border-bottom-color: rgba(var(--color-izwl5n7eo), 0.35); border-left-color: rgba(var(--color-i5wlhsryr), 1); padding-bottom: 10px; padding-top: 10px; padding-left: 20px; padding-right: 20px; background-color: rgba(var(--color-ij33sfab7), 0); color: rgba(var(--color-i9jpc6qs3), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__select { width: 100%; display: block; height: 35px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-color: rgba(var(--color-igcx069f9), 1); border-right-color: rgba(var(--color-is999cppr), 1); border-bottom-color: rgba(var(--color-ip9gjsm32), 1); border-left-color: rgba(var(--color-i5njadnf1), 1); padding-bottom: 8px; padding-top: 8px; padding-left: 10px; padding-right: 10px; background-color: rgba(var(--color-ifthx19qz), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__select-multiple { width: 100%; display: block; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-color: rgba(var(--color-i3b3sk8ex), 1); border-right-color: rgba(var(--color-i7mrxiey6), 1); border-bottom-color: rgba(var(--color-ixfcmbxig), 1); border-left-color: rgba(var(--color-is9p10bey), 1); padding-bottom: 8px; padding-top: 8px; padding-left: 10px; padding-right: 10px; background-color: rgba(var(--color-iso8j1bx1), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__date-interval-container { display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: flex-start; text-align: left }
.mosaic-form--u-igfe8wcj7 .mosaic-form__date-interval-delimiter { width: 15px; height: 2px; flex-shrink: 0; background-color: rgba(var(--color-itzewdmks), 1); margin-right: 5px; margin-left: 5px }
.mosaic-form--u-igfe8wcj7 .mosaic-form__success--u-iwawrrwie { font-size: 16px }
.mosaic-form--u-igfe8wcj7 .mosaic-form__error { color: rgba(var(--color-ik6f3xwzm), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__required { color: rgba(var(--color-i0pmsjjye), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__note { font-size: 12px; color: rgba(var(--color-idza1n0jp), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__radio-icon { display: none; width: 14px; height: 14px; flex-shrink: 0; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-iadq9bta0), 1); border-right-color: rgba(var(--color-ishgo4g86), 1); border-bottom-color: rgba(var(--color-ibbjd9wxt), 1); border-left-color: rgba(var(--color-ik2jrzjaw), 1); background-color: rgba(var(--color-i5r9mymmt), 0.2) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__checkbox-icon { display: none; width: 15px; height: 15px; flex-shrink: 0; border-top-left-radius: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-irw9szl5h), 1); border-right-color: rgba(var(--color-i383lcax0), 1); border-bottom-color: rgba(var(--color-ibyyind96), 1); border-left-color: rgba(var(--color-ilnyinp0r), 1); background-color: rgba(var(--color-ijom598m8), 0.2) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__value { margin-left: 5px }
.mosaic-form--u-igfe8wcj7 .mosaic-form__label { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 0px; margin-bottom: 5px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; margin-left: 0px; margin-right: 0px; width: 100% }
.mosaic-form--u-igfe8wcj7 .mosaic-form__button { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; cursor: pointer; vertical-align: top; padding-top: 18px; padding-right: 30px; padding-bottom: 18px; padding-left: 30px; font-family: Montserrat, sans-serif; font-size: 16px; line-height: normal; background-color: rgba(var(--color-icunfhjjn), 0); color: rgba(var(--color-iae6l4b44), 1); border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; position: relative; margin-top: 10px; margin-left: 0px; margin-right: 0px; width: 100%;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: center; border-top-left-radius: 60px; border-top-right-radius: 60px; border-bottom-right-radius: 60px; border-bottom-left-radius: 60px; background-image: repeating-linear-gradient(182deg, rgba(var(--color-ivne72pp7), 1) 0%, rgba(var(--color-ibb3f98n1), 1) 100%); background-repeat: no-repeat; background-position: left 0px top 0px; background-size: auto; background-attachment: scroll; outline-color: rgba(var(--color-i952i74xa), 1); -webkit-box-shadow: 0px 6px 15px 0px rgba(var(--color-i26uqabno), 0.64), inset 0px 15px 0px 0px rgba(var(--color-idojqeq2f), 0.2); box-shadow: 0px 6px 15px 0px rgba(var(--color-i26uqabno), 0.64), inset 0px 15px 0px 0px rgba(var(--color-idojqeq2f), 0.2); transition-property: all; transition-duration: 500ms; transition-delay: 0ms; transition-timing-function: ease; filter: none }
.mosaic-form--u-igfe8wcj7 .mosaic-form__upload-progress { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-i0p5junn4), 1); border-right-color: rgba(var(--color-ip8blos2m), 1); border-bottom-color: rgba(var(--color-iqmwko0f0), 1); border-left-color: rgba(var(--color-ivhlodrn7), 1); margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; right: 10px }
.mosaic-form--u-igfe8wcj7 .progressWrapper { padding-top: 8px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(var(--color-iv2bofo4y), 1) }
.mosaic-form--u-igfe8wcj7 .progressContainer { position: relative }
.mosaic-form--u-igfe8wcj7 .progressCancel { font-size: 0px; display: block; height: 14px; width: 14px; position: absolute; right: 0px; top: 0px; text-align: center; background-color: rgba(var(--color-i5n3lb688), 1) }
.mosaic-form--u-igfe8wcj7 .progressName { font-size: 0.7em; font-weight: 700; color: rgba(var(--color-i4puowz9z), 1); width: 323px; text-align: left; overflow-x: hidden; overflow-y: hidden }
.mosaic-form--u-igfe8wcj7 .progressBarStatus { margin-top: 2px; width: 337px; font-size: 0.6em; text-align: left }
.mosaic-form--u-igfe8wcj7 .progressBarInProgress { font-size: 0px; width: 0px; height: 4px; background-color: rgba(var(--color-ipdpbbflo), 1); margin-top: 2px }
.mosaic-form--u-igfe8wcj7 .progressBarComplete { font-size: 0px; width: 0px; height: 4px; background-color: rgba(var(--color-ivfquyov7), 1); margin-top: 2px }
.mosaic-form--u-igfe8wcj7 .mosaic-form__upload-count-container { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 10px }
.mosaic-form--u-igfe8wcj7 .text--u-ig8c80kpt { font-size: 15px; font-weight: 400; color: rgba(var(--color-ikqobmq05), 1); margin-bottom: 30px; text-align: center }
.mosaic-form--u-igfe8wcj7 .mosaic-form__count-text { color: rgba(var(--color-ivnz2oddb), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__count { color: rgba(var(--color-i4tno3bdb), 1); padding-left: 10px }
.mosaic-form--u-igfe8wcj7 .div--u-ibskgl6gm { display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 20px }
.mosaic-form--u-igfe8wcj7 .div--u-ih6t0alnx { width: 50%; margin-left: 10px; margin-right: 10px; height: 50px }
.mosaic-form--u-igfe8wcj7 .div--u-if8f66xs4 { width: 50%; margin-left: 10px; margin-right: 10px; height: 50px }
.mosaic-form--u-igfe8wcj7 .mosaic-form__field--u-i7g373loo { margin-bottom: 40px }
.mosaic-form--u-igfe8wcj7 .mosaic-form__field--u-ieiksytdj { margin-bottom: 40px }
.mosaic-form--u-igfe8wcj7 .mosaic-form__checkbox-group { margin-left: 0px; margin-right: 0px; width: 100% }
.mosaic-form--u-igfe8wcj7 .mosaic-form__radio-group { margin-left: 0px; margin-right: 0px; width: 100% }
.mosaic-form--u-igfe8wcj7 .mosaic-form__upload-button { text-align: left }
.mosaic-form--u-igfe8wcj7 .mosaic-form__upload-file { text-align: left; margin-left: 0px; margin-right: 0px; width: 100% }
.mosaic-form--u-igfe8wcj7 .mosaic-form__radio-icon:hover, .mosaic-form--u-igfe8wcj7 .mosaic-form__radio-icon.is-hover { background-image: url("/g/s3/mosaic/images/placeholder-featured-image.png"); background-position: center center; background-repeat: no-repeat }
.mosaic-form--u-igfe8wcj7 .mosaic-form__checkbox-icon:hover, .mosaic-form--u-igfe8wcj7 .mosaic-form__checkbox-icon.is-hover { background-image: url("/g/s3/mosaic/images/placeholder-featured-image.png"); background-position: center center; background-repeat: no-repeat }
.mosaic-form--u-igfe8wcj7 .progressWrapper:first-child { padding-top: 0px; border-top-width: 0px }
.mosaic-form--u-igfe8wcj7 .progressWrapper:last-child { padding-bottom: 0px }
.mosaic-form--u-igfe8wcj7 .mosaic-form__text::placeholder { color: rgba(var(--color-ikjnjchw0), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__textarea::placeholder { color: rgba(var(--color-igsi9x219), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__date::placeholder { color: rgba(var(--color-ia6zc0vm0), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__date-interval::placeholder { color: rgba(var(--color-i5pwj2rf1), 1) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__button:hover, .mosaic-form--u-igfe8wcj7 .mosaic-form__button.is-hover { -webkit-box-shadow: 0px 3px 15px 0px rgba(var(--color-itbhyok9t), 0.33), inset 0px 15px 0px 0px rgba(var(--color-iaflywfmq), 0.08); box-shadow: 0px 3px 15px 0px rgba(var(--color-itbhyok9t), 0.33), inset 0px 15px 0px 0px rgba(var(--color-iaflywfmq), 0.08); background-image: repeating-linear-gradient(182deg, rgba(var(--color-ifvmtygnp), 0.9) 0%, rgba(var(--color-iyehd33k4), 0.9) 100%) }
.mosaic-form--u-igfe8wcj7 .mosaic-form__button:active, .mosaic-form--u-igfe8wcj7 .mosaic-form__button.is-active { -webkit-box-shadow: none; box-shadow: none }
.mosaic-form--u-igfe8wcj7 .mosaic-form__checkbox ~ .mosaic-form__value { color: rgba(var(--color-i1ryvvywk), 1); margin-left: 10px; line-height: 2vh; font-size: 13px; margin-right: 0px; width: 100% }
.mosaic-form--u-igfe8wcj7 .mosaic-form__radio ~ .mosaic-form__value { color: rgba(var(--color-ibyx1pz9l), 1); margin-left: 5px; margin-right: 0px; width: 100% }
.mosaic-form--u-igfe8wcj7 .mosaic-form__field--u-i0mtt72z2 .mosaic-form__header { display: none }
.mosaic-form--u-igfe8wcj7 .mosaic-form__field--u-i7g373loo .mosaic-form__header { display: none }
.mosaic-form--u-igfe8wcj7 .mosaic-form__field--u-ieiksytdj .mosaic-form__header { display: none }
.mosaic-form--u-igfe8wcj7 .mosaic-form__radio:checked ~ .mosaic-form__radio-icon, .mosaic-form--u-igfe8wcj7 .mosaic-form__radio.is-checked ~ .mosaic-form__radio-icon { background-color: rgba(var(--color-izpqfv6ls), 0.2); background-image: url("/g/s3/mosaic/images/placeholder-featured-image.png"); background-position: center center; background-repeat: no-repeat }
.mosaic-form--u-igfe8wcj7 .mosaic-form__checkbox:checked ~ .mosaic-form__checkbox-icon, .mosaic-form--u-igfe8wcj7 .mosaic-form__checkbox.is-checked ~ .mosaic-form__checkbox-icon { background-color: rgba(var(--color-irye3n0nm), 0.2); background-image: url("/g/s3/mosaic/images/placeholder-featured-image.png"); background-position: center center; background-repeat: no-repeat }
.text--u-ig8c80kpt { display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 12px; line-height: normal; vertical-align: top; position: relative }
.mosaic-form__field--u-i0mtt72z2 { display: block }
.div--u-ibskgl6gm { width: 100%; position: relative; display: block }
.div--u-ih6t0alnx { width: 100%; position: relative }
.div--u-if8f66xs4 { width: 100%; position: relative; display: inline-block }
.mosaic-form__field--u-i7g373loo { display: block }
.mosaic-form__field--u-ieiksytdj { display: block }
.svg_image--u-idolin5ic { position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; vertical-align: top; justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 80px; width: 80px; overflow-x: hidden; overflow-y: hidden }
.svg_image--u-idolin5ic > svg { flex-shrink: 0 }
.svg_image--u-idolin5ic svg { width: 100%; height: 100% }
.svg_image--u-idolin5ic .path-ikha1skk6 { fill: rgba(var(--color-iub5m5a22), 1) }

@media (max-width: 991px) {
	.mosaic-form--u-igfe8wcj7 .mosaic-form__title--u-ist31rnl6 { font-size: 30px }
	.mosaic-form--u-igfe8wcj7 .text--u-ig8c80kpt { font-size: 15px; margin-bottom: 30px }
	.mosaic-form--u-igfe8wcj7 .mosaic-form__button { margin-top: 20px }
	.div--u-i576t3ipl { padding-top: 40px; padding-bottom: 20px; width: 100%; padding-left: 60px; padding-right: 60px; margin-left: 0px; margin-right: 0px }
}

@media (max-width: 767px) {
	.div--u-i576t3ipl { padding-left: 30px; padding-right: 30px; padding-top: 40px; padding-bottom: 40px; margin-left: 0px; margin-right: 0px; width: 100% }
	.mosaic-form--u-igfe8wcj7 { margin-top: 30px }
	.mosaic-form--u-igfe8wcj7 .mosaic-form__title--u-ist31rnl6 { text-align: center; font-size: 26px }
	.mosaic-form--u-igfe8wcj7 .text--u-ig8c80kpt { text-align: center; font-size: 16px; margin-bottom: 20px }
	.mosaic-form--u-igfe8wcj7 .mosaic-form__button { justify-content: center;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 0px; margin-right: 0px; width: 100% }
	.mosaic-form--u-igfe8wcj7 .mosaic-form__label { margin-top: 0px }
	.mosaic-form--u-igfe8wcj7 .div--u-ibskgl6gm { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; margin-left: auto; margin-right: auto; justify-content: flex-start }
	.mosaic-form--u-igfe8wcj7 .div--u-ih6t0alnx { margin-left: 0px; margin-right: 0px; width: 100%; margin-bottom: 10px }
	.mosaic-form--u-igfe8wcj7 .div--u-if8f66xs4 { margin-left: 0px; margin-right: 0px; width: 100% }
	.mosaic-form--u-igfe8wcj7 .mosaic-form__text { width: 100%; margin-left: 0px; margin-right: 0px }
	.mosaic-form--u-igfe8wcj7 .mosaic-form__checkbox ~ .mosaic-form__value { line-height: 20px }
	.svg_image--u-idolin5ic { width: 70px; height: 70px }
}

@media (max-width: 479px) {
	.div--u-i576t3ipl { padding-left: 30px; padding-top: 20px; padding-right: 30px; padding-bottom: 20px }
	.mosaic-form--u-igfe8wcj7 { margin-top: 30px }
	.mosaic-form--u-igfe8wcj7 .text--u-ig8c80kpt { margin-bottom: 20px; font-size: 15px }
	.mosaic-form--u-igfe8wcj7 .mosaic-form__title--u-ist31rnl6 { font-size: 24px }
	.mosaic-form--u-igfe8wcj7 .mosaic-form__button { margin-top: 10px }
	.mosaic-form--u-igfe8wcj7 .mosaic-form__label { margin-top: 0px }
	.mosaic-form--u-igfe8wcj7 .div--u-ibskgl6gm { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;  -webkit-box-align: center; -ms-flex-align: center; align-items: center }
	.mosaic-form--u-igfe8wcj7 .div--u-ih6t0alnx { width: 100%; margin-left: 0px; margin-right: 0px }
	.mosaic-form--u-igfe8wcj7 .div--u-if8f66xs4 { width: 100%; margin-top: 10px; margin-left: 0px; margin-right: 0px }
	.mosaic-form--u-igfe8wcj7 .mosaic-form__text { margin-left: 0px; margin-right: 0px; width: 100% }
	.mosaic-form--u-igfe8wcj7 .mosaic-form__field { margin-left: 0px; margin-right: 0px; width: 100% }
	.mosaic-form--u-igfe8wcj7 .mosaic-form__checkbox ~ .mosaic-form__value { line-height: 20px }
	.svg_image--u-idolin5ic { width: 60px; height: 60px }
}