@font-face { font-family: "Montserrat"; font-weight: 100; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-t.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-t.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 100; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-t-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-t-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 200; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-e-l.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-e-l.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 200; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-e-l-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-e-l-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 300; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-l.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-l.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 300; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-l-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-l-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 400; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-r.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-r.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 400; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 500; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-m.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-m.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 500; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-m-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-m-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 600; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-s-b.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-s-b.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 600; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-s-b-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-s-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 700; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-b.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-b.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 700; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-b-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 800; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-e-b.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-e-b.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 800; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-e-b-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-e-b-i.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 900; font-style: normal; font-display: swap; src: url("/g/fonts/montserrat/montserrat-bl.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-bl.woff") format("woff");}
@font-face { font-family: "Montserrat"; font-weight: 900; font-style: italic; font-display: swap; src: url("/g/fonts/montserrat/montserrat-bl-i.woff2") format("woff2"), url("/g/fonts/montserrat/montserrat-bl-i.woff") format("woff");}
:root {
	--color-io4f6ew8t: 0, 0, 0;
	--color-ildixea3x: 0, 0, 0;
	--color-iiqmggjmb: 43, 43, 43;
	--color-izuuogbdm: 169, 169, 169;
	--color-ibggqy1ff: 169, 169, 169;
	--color-i66cc3w14: 169, 169, 169;
	--color-iydfmpcw8: 169, 169, 169;
	--color-if9bpi5e2: 255, 255, 255;
	--color-i3h1qoqep: 69, 69, 69;
	--color-ifr9ksioh: 169, 169, 169;
	--color-i9n3flden: 169, 169, 169;
	--color-ioly14s9l: 169, 169, 169;
	--color-ii4983sjb: 169, 169, 169;
	--color-idtug6bzb: 255, 255, 255;
	--color-iy9ww9dbf: 169, 169, 169;
	--color-ij5rgv6t4: 169, 169, 169;
	--color-ilhhp0fo4: 169, 169, 169;
	--color-iieypsd33: 169, 169, 169;
	--color-iaaiigf2f: 255, 255, 255;
	--color-i9xt8qge2: 117, 117, 117;
	--color-ic2hze2jl: 169, 169, 169;
	--color-iw5m6wx4f: 169, 169, 169;
	--color-immg647wy: 169, 169, 169;
	--color-icbp6s81u: 169, 169, 169;
	--color-i5fvu3dgj: 255, 255, 255;
	--color-iqb79pjxo: 69, 69, 69;
	--color-i362ngblq: 169, 169, 169;
	--color-iia5evh0u: 169, 169, 169;
	--color-is9zcaaim: 169, 169, 169;
	--color-iijkg5rd4: 169, 169, 169;
	--color-i65vs0ajz: 248, 248, 248;
	--color-it31e5zvf: 169, 169, 169;
	--color-i0de35lgj: 169, 169, 169;
	--color-io32ophug: 169, 169, 169;
	--color-i03wruj30: 169, 169, 169;
	--color-ibbxhvo3m: 248, 248, 248;
	--color-idrauu28t: 51, 51, 51;
	--color-i9r9bqhxj: 255, 0, 0;
	--color-i7glx8wf0: 255, 0, 0;
	--color-iho8t8786: 128, 128, 128;
	--color-ioxw42i6m: 128, 128, 128;
	--color-i183qf5ma: 128, 128, 128;
	--color-i3oxbtuql: 128, 128, 128;
	--color-i3454bpie: 128, 128, 128;
	--color-iccmd6qm7: 0, 0, 0;
	--color-ieni4hza2: 0, 0, 0;
	--color-igirv98fo: 128, 128, 128;
	--color-iu9289qzb: 128, 128, 128;
	--color-i29ot5a0r: 128, 128, 128;
	--color-iyrg3pou8: 128, 128, 128;
	--color-iqpastwg9: 0, 0, 0;
	--color-iiabb174l: 0, 0, 0;
	--color-ikde05hjc: 95, 95, 95;
	--color-i64ox8j3g: 255, 255, 255;
	--color-ilcjbfcsu: 0, 150, 65;
	--color-izphuwb2e: 243, 239, 21;
	--color-icz3vmks2: 146, 199, 22;
	--color-i83bx5yyt: 255, 255, 255;
	--color-i8amv74hp: 197, 197, 197;
	--color-ipyttt8m8: 197, 197, 197;
	--color-ihaka7nyg: 197, 197, 197;
	--color-iolcif7nm: 197, 197, 197;
	--color-i2rs0318d: 197, 197, 197;
	--color-idz0ykdf5: 255, 0, 0;
	--color-iyvv2u64o: 85, 85, 85;
	--color-ix9x8by5a: 0, 0, 255;
	--color-ipgx5tdj4: 0, 0, 255;
	--color-if784qjtn: 117, 117, 117;
	--color-izbn37ygk: 43, 43, 43;
	--color-iahdazgjv: 43, 43, 43;
	--color-iasau6s5c: 43, 43, 43;
	--color-i48b3g9yt: 169, 169, 169;
	--color-ilejqw2mx: 169, 169, 169;
	--color-is9jr1hly: 169, 169, 169;
	--color-i9xyto2i4: 169, 169, 169;
	--color-is0n9826h: 43, 43, 43;
	--color-i65ynzdgf: 255, 255, 255;
	--color-ir07ochfw: 146, 199, 22;
	--color-izwr7o9m0: 255, 255, 255;
	--color-iy2204cok: 0, 150, 65;
	--color-ijtysbpex: 243, 239, 21;
	--color-i3nigil1t: 146, 199, 22;
}

.mosaic-form--u-i51p90z5w { padding-left: 40px; padding-top: 40px; padding-right: 40px; padding-bottom: 40px; background-color: rgba(var(--color-i65ynzdgf), 1); height: auto; min-height: 300px }
.mosaic-form--u-i51p90z5w * { outline-style: none }
.mosaic-form--u-i51p90z5w .mosaic-form__title--u-iqfzo1wdg { font-size: 23px; line-height: normal; margin-bottom: 10px; text-align: center; font-family: Montserrat, sans-serif; font-weight: 700; color: rgba(var(--color-io4f6ew8t), 1) }
.mosaic-form--u-i51p90z5w .mosaic-form__header { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 5px }
.mosaic-form--u-i51p90z5w .mosaic-form__field { margin-bottom: 10px; font-size: 14px; background-color: rgba(var(--color-ildixea3x), 0); margin-top: 10px }
.mosaic-form--u-i51p90z5w .mosaic-form__name { font-weight: 600; font-size: 14px; color: rgba(var(--color-iiqmggjmb), 1) }
.mosaic-form--u-i51p90z5w .mosaic-form__text { width: 100%; display: block; height: 45px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-izuuogbdm), 0.7); border-right-color: rgba(var(--color-ibggqy1ff), 0.7); border-bottom-color: rgba(var(--color-i66cc3w14), 0.7); border-left-color: rgba(var(--color-iydfmpcw8), 0.7); padding-bottom: 10px; padding-top: 10px; padding-left: 20px; padding-right: 20px; background-color: rgba(var(--color-if9bpi5e2), 1); color: rgba(var(--color-i3h1qoqep), 1); font-size: 13px }
.mosaic-form--u-i51p90z5w .mosaic-form__date { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; height: 35px; width: 100%; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-ifr9ksioh), 0.7); border-right-color: rgba(var(--color-i9n3flden), 0.7); border-bottom-color: rgba(var(--color-ioly14s9l), 0.7); border-left-color: rgba(var(--color-ii4983sjb), 0.7); padding-bottom: 8px; padding-top: 8px; padding-left: 10px; padding-right: 10px; background-color: rgba(var(--color-idtug6bzb), 1); cursor: pointer }
.mosaic-form--u-i51p90z5w .mosaic-form__date-interval { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; height: 35px; width: 100%; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-iy9ww9dbf), 1); border-right-color: rgba(var(--color-ij5rgv6t4), 1); border-bottom-color: rgba(var(--color-ilhhp0fo4), 1); border-left-color: rgba(var(--color-iieypsd33), 1); padding-bottom: 8px; padding-top: 8px; padding-left: 10px; padding-right: 10px; background-color: rgba(var(--color-iaaiigf2f), 1); cursor: pointer; color: rgba(var(--color-i9xt8qge2), 1) }
.mosaic-form--u-i51p90z5w .mosaic-form__textarea { width: 100%; display: block; height: 70px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-ic2hze2jl), 0.7); border-right-color: rgba(var(--color-iw5m6wx4f), 0.7); border-bottom-color: rgba(var(--color-immg647wy), 0.7); border-left-color: rgba(var(--color-icbp6s81u), 0.7); padding-bottom: 10px; padding-top: 10px; padding-left: 20px; padding-right: 20px; background-color: rgba(var(--color-i5fvu3dgj), 1); color: rgba(var(--color-iqb79pjxo), 1); font-size: 13px }
.mosaic-form--u-i51p90z5w .mosaic-form__select { width: 100%; display: block; height: 35px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-i362ngblq), 0.7); border-right-color: rgba(var(--color-iia5evh0u), 0.7); border-bottom-color: rgba(var(--color-is9zcaaim), 0.7); border-left-color: rgba(var(--color-iijkg5rd4), 0.7); padding-bottom: 8px; padding-top: 8px; padding-left: 10px; padding-right: 10px; background-color: rgba(var(--color-i65vs0ajz), 1) }
.mosaic-form--u-i51p90z5w .mosaic-form__select-multiple { width: 100%; display: block; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-it31e5zvf), 0.7); border-right-color: rgba(var(--color-i0de35lgj), 0.7); border-bottom-color: rgba(var(--color-io32ophug), 0.7); border-left-color: rgba(var(--color-i03wruj30), 0.7); padding-bottom: 8px; padding-top: 8px; padding-left: 10px; padding-right: 10px; background-color: rgba(var(--color-ibbxhvo3m), 1); font-size: 13px }
.mosaic-form--u-i51p90z5w .mosaic-form__date-interval-container { display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center }
.mosaic-form--u-i51p90z5w .mosaic-form__date-interval-delimiter { width: 15px; height: 2px; flex-shrink: 0; background-color: rgba(var(--color-idrauu28t), 1); margin-right: 5px; margin-left: 5px }
.mosaic-form--u-i51p90z5w .mosaic-form__success--u-il9ysg0jg { font-size: 16px }
.mosaic-form--u-i51p90z5w .mosaic-form__error { color: rgba(var(--color-i9r9bqhxj), 1) }
.mosaic-form--u-i51p90z5w .mosaic-form__required { color: rgba(var(--color-i7glx8wf0), 1) }
.mosaic-form--u-i51p90z5w .mosaic-form__note { font-size: 12px; color: rgba(var(--color-iho8t8786), 1) }
.mosaic-form--u-i51p90z5w .mosaic-form__radio-icon { width: 14px; height: 14px; flex-shrink: 0; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-ioxw42i6m), 1); border-right-color: rgba(var(--color-i183qf5ma), 1); border-bottom-color: rgba(var(--color-i3oxbtuql), 1); border-left-color: rgba(var(--color-i3454bpie), 1); background-color: rgba(var(--color-iccmd6qm7), 0.2); display: none }
.mosaic-form--u-i51p90z5w .mosaic-form__checkbox-icon { width: 15px; height: 15px; flex-shrink: 0; border-top-left-radius: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-igirv98fo), 1); border-right-color: rgba(var(--color-iu9289qzb), 1); border-bottom-color: rgba(var(--color-i29ot5a0r), 1); border-left-color: rgba(var(--color-iyrg3pou8), 1); background-color: rgba(var(--color-iqpastwg9), 0.2); display: none }
.mosaic-form--u-i51p90z5w .mosaic-form__value { margin-left: 5px }
.mosaic-form--u-i51p90z5w .mosaic-form__label { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 5px; margin-bottom: 5px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; padding-top: 20px }
.mosaic-form--u-i51p90z5w .mosaic-form__button { display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; vertical-align: top; padding-top: 17px; padding-right: 30px; padding-bottom: 17px; padding-left: 30px; font-family: Montserrat, sans-serif; font-size: 16px; line-height: normal; background-color: rgba(var(--color-ikde05hjc), 0); color: rgba(var(--color-i64ox8j3g), 1); border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; position: relative; margin-left: 0px; margin-right: 0px; width: 100%; margin-top: 30px;  -webkit-box-align: center; -ms-flex-align: center; align-items: center; justify-content: center; border-top-left-radius: 60px; border-top-right-radius: 60px; border-bottom-right-radius: 60px; border-bottom-left-radius: 60px; background-image: linear-gradient(189deg, rgba(var(--color-ilcjbfcsu), 1) 0%, rgba(var(--color-izphuwb2e), 1) 101%); background-repeat: no-repeat; background-position: left 0px top 0px; background-size: auto; background-attachment: scroll; -webkit-box-shadow: 0px 6px 15px 0px rgba(var(--color-icz3vmks2), 0.64), inset 0px 15px 0px 0px rgba(var(--color-i83bx5yyt), 0.2); box-shadow: 0px 6px 15px 0px rgba(var(--color-icz3vmks2), 0.64), inset 0px 15px 0px 0px rgba(var(--color-i83bx5yyt), 0.2); transition-property: all; transition-duration: 500ms; transition-delay: 0ms; transition-timing-function: ease }
.mosaic-form--u-i51p90z5w .mosaic-form__upload-progress { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(var(--color-i8amv74hp), 1); border-right-color: rgba(var(--color-ipyttt8m8), 1); border-bottom-color: rgba(var(--color-ihaka7nyg), 1); border-left-color: rgba(var(--color-iolcif7nm), 1); margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; right: 10px }
.mosaic-form--u-i51p90z5w .progressWrapper { padding-top: 8px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(var(--color-i2rs0318d), 1) }
.mosaic-form--u-i51p90z5w .progressContainer { position: relative }
.mosaic-form--u-i51p90z5w .progressCancel { font-size: 0px; display: block; height: 14px; width: 14px; position: absolute; right: 0px; top: 0px; text-align: center; background-color: rgba(var(--color-idz0ykdf5), 1) }
.mosaic-form--u-i51p90z5w .progressName { font-size: 0.7em; font-weight: 700; color: rgba(var(--color-iyvv2u64o), 1); width: 323px; text-align: left; overflow-x: hidden; overflow-y: hidden }
.mosaic-form--u-i51p90z5w .progressBarStatus { margin-top: 2px; width: 337px; font-size: 0.6em; text-align: left }
.mosaic-form--u-i51p90z5w .progressBarInProgress { font-size: 0px; width: 0px; height: 4px; background-color: rgba(var(--color-ix9x8by5a), 1); margin-top: 2px }
.mosaic-form--u-i51p90z5w .progressBarComplete { font-size: 0px; width: 0px; height: 4px; background-color: rgba(var(--color-ipgx5tdj4), 1); margin-top: 2px }
.mosaic-form--u-i51p90z5w .mosaic-form__upload-count-container { display: -webkit-box; display: -ms-flexbox; display: flex }
.mosaic-form--u-i51p90z5w .text--u-irk2zjctb { text-align: center; font-size: 15px; color: rgba(var(--color-if784qjtn), 1); margin-bottom: 30px }
.mosaic-form--u-i51p90z5w .mosaic-form__radio {  }
.mosaic-form--u-i51p90z5w .mosaic-form__checkbox {  }
.mosaic-form--u-i51p90z5w .mosaic-form__radio-icon:hover, .mosaic-form--u-i51p90z5w .mosaic-form__radio-icon.is-hover { background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjYiIHZpZXdCb3g9IjAgMCA2IDYiPjxnPjxnIG9wYWNpdHk9Ii4zIj48cGF0aCBkPSJNMyA2YTMgMyAwIDEgMCAwLTYgMyAzIDAgMCAwIDAgNnoiLz48L2c+PC9nPjwvc3ZnPg=="); background-position: center center; background-repeat: no-repeat }
.mosaic-form--u-i51p90z5w .mosaic-form__checkbox-icon:hover, .mosaic-form--u-i51p90z5w .mosaic-form__checkbox-icon.is-hover { background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTEgOSI+PGc+PGc+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSJncmF5IiBzdHJva2UtbWl0ZXJsaW1pdD0iNTAiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTEwIDF2MEw0LjUgNy41djBMMSA0djAiLz48L2c+PC9nPjwvc3ZnPg=="); background-position: center center; background-repeat: no-repeat }
.mosaic-form--u-i51p90z5w .progressWrapper:first-child { padding-top: 0px; border-top-width: 0px }
.mosaic-form--u-i51p90z5w .progressWrapper:last-child { padding-bottom: 0px }
.mosaic-form--u-i51p90z5w .mosaic-form__text::placeholder { color: rgba(var(--color-izbn37ygk), 1) }
.mosaic-form--u-i51p90z5w .mosaic-form__date-interval::placeholder { color: rgba(var(--color-iahdazgjv), 1) }
.mosaic-form--u-i51p90z5w .mosaic-form__textarea::placeholder { color: rgba(var(--color-is0n9826h), 1) }
.mosaic-form--u-i51p90z5w .mosaic-form__button:hover, .mosaic-form--u-i51p90z5w .mosaic-form__button.is-hover { -webkit-box-shadow: 0px 3px 15px 0px rgba(var(--color-ir07ochfw), 0.64), inset 0px 15px 0px 0px rgba(var(--color-izwr7o9m0), 0.08); box-shadow: 0px 3px 15px 0px rgba(var(--color-ir07ochfw), 0.64), inset 0px 15px 0px 0px rgba(var(--color-izwr7o9m0), 0.08); background-image: linear-gradient(189deg, rgba(var(--color-iy2204cok), 0.9) 0%, rgba(var(--color-ijtysbpex), 0.9) 101%); ; ; ;  }
.mosaic-form--u-i51p90z5w .mosaic-form__button:active, .mosaic-form--u-i51p90z5w .mosaic-form__button.is-active { -webkit-box-shadow: none; box-shadow: none }
.mosaic-form--u-i51p90z5w .mosaic-form__radio ~ .mosaic-form__value { font-size: 13px }
.mosaic-form--u-i51p90z5w .mosaic-form__checkbox ~ .mosaic-form__value { font-size: 13px; color: rgba(var(--color-iasau6s5c), 1); line-height: 3vh }
.mosaic-form--u-i51p90z5w .mosaic-form__field--u-i4m2u8in4 .mosaic-form__header { display: none }
.mosaic-form--u-i51p90z5w .mosaic-form__field--u-iq9uzgmd1 .mosaic-form__header { display: none }
.mosaic-form--u-i51p90z5w .mosaic-form__field--u-i4m2u8in4 .mosaic-form__text { border-top-color: rgba(var(--color-i48b3g9yt), 1); border-right-color: rgba(var(--color-ilejqw2mx), 1); border-bottom-color: rgba(var(--color-is9jr1hly), 1); border-left-color: rgba(var(--color-i9xyto2i4), 1) }
.mosaic-form--u-i51p90z5w .mosaic-form__field--u-iaw9ccuzi .mosaic-form__header { display: none }
.mosaic-form--u-i51p90z5w .mosaic-form__field--u-i2gi9hde4 .mosaic-form__header { display: none }
.mosaic-form--u-i51p90z5w .mosaic-form__radio:checked ~ .mosaic-form__radio-icon, .mosaic-form--u-i51p90z5w .mosaic-form__radio.is-checked ~ .mosaic-form__radio-icon { background-color: rgba(var(--color-ieni4hza2), 0.2); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjYiIHZpZXdCb3g9IjAgMCA2IDYiPjxnPjxnIG9wYWNpdHk9Ii42Ij48cGF0aCBkPSJNMyA2YTMgMyAwIDEgMCAwLTYgMyAzIDAgMCAwIDAgNnoiLz48L2c+PC9nPjwvc3ZnPg=="); background-position: center center; background-repeat: no-repeat }
.mosaic-form--u-i51p90z5w .mosaic-form__checkbox:checked ~ .mosaic-form__checkbox-icon, .mosaic-form--u-i51p90z5w .mosaic-form__checkbox.is-checked ~ .mosaic-form__checkbox-icon { background-color: rgba(var(--color-iiabb174l), 0.2); background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTEgOSI+PGc+PGc+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMzMzIiBzdHJva2UtbWl0ZXJsaW1pdD0iNTAiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTEwIDF2MEw0LjUgNy41djBMMSA0djAiLz48L2c+PC9nPjwvc3ZnPg=="); background-position: center center; background-repeat: no-repeat }
.text--u-irk2zjctb { display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 12px; line-height: normal; vertical-align: top; position: relative }
.mosaic-form__field--u-i4m2u8in4 { display: block }
.mosaic-form__field--u-iq9uzgmd1 { display: block }
.mosaic-form__field--u-iaw9ccuzi { display: block }
.mosaic-form__field--u-i2gi9hde4 { display: block }

@media (max-width: 479px) {
	.mosaic-form--u-i51p90z5w { padding-left: 30px; padding-top: 30px; padding-right: 30px; padding-bottom: 30px }
	.mosaic-form--u-i51p90z5w .mosaic-form__title--u-iqfzo1wdg { font-size: 20px }
	.mosaic-form--u-i51p90z5w .text--u-irk2zjctb { margin-bottom: 20px }
	.mosaic-form--u-i51p90z5w .mosaic-form__label { padding-top: 10px; margin-top: 010px }
	.mosaic-form--u-i51p90z5w .mosaic-form__checkbox ~ .mosaic-form__value { line-height: 22px; font-size: 13px }
}